@import "../../variables";

.top{
  display: flex;
  justify-content: space-between;
  h2{
    margin-top: 40px;
    margin-left: -140px;
    font-size: 1.7em;
  }
  .search{
    margin-left: 50px;
    width: 20%;
    margin-top: 20px;
    label {
      display: block;
      font-size: 1.4em;
      margin-left: 10px;
    }
    input {
      box-sizing: border-box;
      margin-top: 10px;
      margin-left: 8px;
      width: 100%;
      height: 30px;
      outline: none;
      border: 1.5px solid black;
      border-radius: 5px;
      padding: 3px;
      color: $text-color;
      background-color: ghostwhite;
      &:focus{
        border: 2px solid black;
      }
    }
  }
  .link_to_basket{
    margin-top: 40px;
    margin-right: 80px;
    font-size: 1.4em;
    a{
      color: mediumvioletred;
      font-weight: bold;
    }
    a:hover{
      border-bottom: 1.5px solid mediumvioletred;
    }
  }

}

.games_list{
  width: 80%;
  margin: 40px auto 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.game{
  margin-bottom: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
  height: 450px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
  .photo{
    img{
      border-radius: 10px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-sizing: border-box;
      width: 196px;
      height: 200px;
      border: 1.5px solid black;

    }
  }
  .info{
    padding: 6px;
    a{
      font-size: 1.15em;
      color: $text-color;
      line-height: 125%;
      &:hover{
        border-bottom: 1.5px solid $text-color;
      }
    }
  }

  .platform, .price{
    padding: 6px;
    span{
      color: $text-color;
    }
  }

  .button{
    display: flex;
    justify-content: center;
    margin: 10px;
    button{
      padding: 5px;
      width: 110px;
      height: 45px;
      border: 1.5px solid black;
      border-radius: 10px;
      background-color: $button-color;
      &:hover, &:active{
        border: 2.5px solid black;
      }
    }
  }
  .game_in_basket{
    text-align: center;
    font-size: 0.8em;
    padding: 10px 5px;
    a{
      font-size: 1.2em;
      font-weight: bold;
      color: #b01e49;
      &:hover{
        border-bottom: 2px solid #b01e49;
      }
    }
  }
}