@import "../../variables";

.info_about_us{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  .about_us, .why_we{
    padding: 40px;
    border-bottom: 2px solid black;
    h2 {
      text-align: center;
    }
    p{
      margin-top: 20px;
    }
  }
  .about_us{
    margin-left: 40px;
  }
  .why_we {
    margin-right: 40px;
  }
}

.button_to_shop{
  display: flex;
  justify-content: center;  
  margin-top: 100px;
  margin-bottom: 100px;
  button{
    width: 300px;
    height: 70px;
    font-size: 1.8em;
    border: 3px solid black;
    border-radius: 5px;
    background-color: $button-color;
    &:hover, &:active{
      border:4px solid black;
    }
  }
}