@import "../../variables";

.logo {
  margin-top: 30px;
  margin-left: 100px;
  font-size: 2em;
}

.list_menu {
  display: flex;
  justify-content: space-between;
}

.basket_list {
  margin-top: 50px;
  margin-left: 120px;
  margin-bottom: 50px;
}

.basket_item {
  min-width: 350px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px solid black;
  padding: 0 10px;
  border-radius: 20px;

  .photo {
    img {
      width: 100px;
      height: 120px;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {
      display: block;
      margin-top: 10px;

      &:first-child {
        font-size: 1.3em;
      }
    }

    button {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 70px;
      height: 25px;
      border: 1.5px solid black;
      border-radius: 10px;
      background-color: #fd703a;
      color: #ffffff;

      &:hover, &:active {
        border: 2.5px solid black;
      }
    }
  }
}


.buy_menu {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 40px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 2px solid black;
  min-height: 200px;
  min-width: 400px;

  .header_buy_menu {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0 10px;
    span{
      font-size: 1.2em;
      font-weight: 600;
    }
    .buy_menu_info {
      border-radius: 10px;
      width: 120px;
      border: 1px solid black;
      font-size: 0.7em;
      padding: 10px 10px 10px 30px;
    }
  }
  .buy_menu_button{
    margin: 20% auto 0;
    button {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100px;
      height: 30px;
      border: 1.5px solid black;
      border-radius: 10px;
      background-color: $button-color;
      &:hover, &:active {
        border: 2.5px solid black;
      }
    }
  }

}