@import "../../variables";

header {
  height: 100px;
  background-image: linear-gradient(to right, #3fe3c9, #cef5f0, #f1f1f1);
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.logo {
  float: left;
  margin: 7px 0 0 80px;
  display: flex;
  justify-content: center;

  .logo_span {
    margin-top: 43.8px;
    margin-left: 10px;

    a {
      color: $text-color;
      font-size: 1.5em;
      font-weight: 500;
      &:hover{
        font-weight: bolder;
      }
    }
  }

  .logo_img {
    img {
      width: 70px;
      transition: 1.8s ease-in-out;
      &:hover{
        transform: rotate(360deg);
      }
    }

  }
}

.links{
  border-left: 2px solid transparent;
  border-image: linear-gradient(to top, #16b6e7 35%, #d50a0a 35%, #d50a0a 65%,  yellow 65%);
  border-image-slice: 10%;
  padding-top: 55px;
  padding-right: 100px;
  a{
    margin-left: 60px;
    color: $text-color;
    font-size: 1.3em;
    font-weight: 200;

    &:hover{
      border-bottom: 1.5px solid $text-color;
    }
  }
}