@import "../../variables";

.footer{
  height: 60px;
  background-image: linear-gradient(to left, #3fe3c9, #cef5f0, #f1f1f1);
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
}

.soc_networks{
  margin-top: 20px;
  margin-left: 40px;
  margin-bottom: 10px;
  span{
    font-size: 1.1em;
    color: $text-color;
  }
  .tg{
    color: cornflowerblue;
    margin-left: 10px;
    font-size: 1.1em;
    &:hover{
      color: blue;
    }
  }
}

.copyright{
  margin-top: 22px;
  margin-right: 60px;
  margin-bottom: 10px;
  span{
    font-size: 0.9em;
    color: $text-color;
  }
}

@media (max-width: 490px){
  .soc_networks{
    span{
      font-size: .7em;
    }
    .tg{
    font-size: .7em;
      margin-left: 4px;
    }
  }

  .copyright {
    span {
      font-size: 0.7em;
    }
  }
}

