@import "../../variables";

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 10px;

  .header{
    h2{
      font-size: 1.6em;
    }
  }

  .input {
    margin-top: 12px;

    input {
      box-sizing: border-box;
      min-width: 270px;
      height: 40px;
      border: 1.5px solid black;
      border-radius: 10px;
      padding: 4px;
      font-size: 0.8em;
      outline: none;
    }

    input:focus {
      border: 2px solid black;
    }

  }

  .checkbox {
    margin-top: 14px;
    label{
      font-size: 0.9em;
    }
    div{
      display: inline;
      margin-left: 10px;
      margin-bottom: -10px;
    }
  }

  button {
    width: 100px;
    height: 30px;
    margin-top: 14px;
    border: 1.5px solid black;
    border-radius: 10px;
    font-size: 1em;
    background-color: $button-color;
  }

  button:hover {
    border: 2px solid black;
  }

  .funny_text{
    margin-top: 10px;
    span{
      color: palevioletred;
    }
  }

}
