@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.wrapper {
  font-family: 'Comfortaa', cursive;
  display: flex;
  flex-direction: column;
  height: 100vh;;
  background-color: #f6eed5;
}
.content {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}